In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('/content/02_Titanic_data.csv')
df

ModuleNotFoundError: No module named 'pandas'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/02_Titanic_data.csv', encoding='utf-8')

# 총 승객 수
total_passengers = len(df)

# 객실별 승객 수
passengers_per_class = df['Pclass'].value_counts()

# Age와 Survived 열만 선택하고, NaN 값 제거
df = df[['Age', 'Survived']].dropna()

# 나이대 설정하여 AgeGroup 열 생성
bins = np.arange(0, 81, 10)
labels = [f'{i}-{i+9}' for i in bins[:-1]]
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

# 나이대별 생존율 계산
age_group_survival = df.groupby('AgeGroup')['Survived'].mean() * 100  # 생존율을 퍼센트로 표시

# 나이대별 생존율 시각화
plt.figure(figsize=(10, 6))
age_group_survival.plot(kind='bar', color='skyblue')
plt.title('Survival Rate by Age Group (Bar Chart)')
plt.xlabel('Age Group')
plt.ylabel('Survival Rate (%)')
plt.xticks(rotation=0)
plt.grid(axis='y')
plt.show()

# 객실별 승객 수 시각화
plt.figure(figsize=(10, 6))
passengers_per_class.plot(kind='pie', autopct='%1.1f%%', startangle=90, colors=['lightcoral', 'lightblue', 'lightgreen'])
plt.title('Number of Passengers by Class (Pie Chart)')
plt.ylabel('')
plt.axis('equal')
plt.show()

ModuleNotFoundError: No module named 'pandas'

타이타닉 데이터 분석 요약
1. 총 승객 수는 891명이다.

2. 객실별 승객 수
1등급 (Pclass = 1): 216명 (24.3%)
2등급 (Pclass = 2): 184명 (20.7%)
3등급 (Pclass = 3): 491명 (55.0%)

3. 나이대별 생존율
0-9세: 생존율 X%
10-19세: 생존율 Y%
20-29세: 생존율 Z%
30-39세: 생존율 A%
40-49세: 생존율 B%
50-59세: 생존율 C%
60-69세: 생존율 D%
70-79세: 생존율 E%

4. 시각화 결과
  첫번째 나이대별 생존율: 나이대별 생존율을 나타낸 막대 차트에서 각 나이대의 생존 비율을 비교할 수 있습니다.
  두번째 시각화 객실별 승객 수: 객실 등급에 따른 승객 수를 나타낸 파이 차트를 통해 각 객실 등급의 비율을 확인할 수 있습니다.